.title {
    text-align : center;
    font-weight : bold;
}

.form-style {
   width :  50%;
   margin : 0 auto;
}

.code {
    max-width : 200px;
    color : black;
}

body {
    background : linear-gradient(rgba(255,0,0,0.5),rgba(0,0,0,0.5) ), url(image.jpg);
    height : 1000px;
    background-repeat : no-repeat;
    background-size: cover;
    background-attachment: fixed;
    grid-template-columns: 1fr;
}


.button-primary {
    border-radius  : 8%;
}